.app
{
    background: #794141;
  background: linear-gradient(110deg, #f9fcf9 50%, #a6f8c7 50%);
  background: linear-gradient(110deg, #206c10 50%,  50%);
    height:140vh;
   
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    color: black;
    
}

#displayquestions
{
    font-size: 23px;
    font-weight: bold;
    padding-top: 15px;
}
#btn
{
    font-family: Consolas, sans-serif;
        letter-spacing: 2px;
        color: #9d2727;
        font-size: 2rem;
        text-align: left;

}
#btn{
        font-family: Consolas, sans-serif;
        letter-spacing: 2px;
        border: none;
        background-color: #206c10;
        color: #060101;
        font-size: 1.1rem;
        text-transform: uppercase;
        margin: 10px 0;
        padding: 15px 20px;
        border-radius: 5px;
}
#btn:hover{
    opacity: 0.9;
    cursor: pointer;
  }

#formbox
{
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 10px;
    box-sizing: border-box;
}

#radiobutton
{
    padding-right: "50px";
}


#btn-shine
{
    // position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%,-50%);
//   padding: 12px 48px;
  color: #ffffff;
  background: linear-gradient(to right, #330130 0, rgb(12, 0, 0) 10%, #4d691f 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 4s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  font-size: 50px;
  text-decoration: none;
  white-space: nowrap;
    
}

@keyframes shine
{
  0%
  {
    background-position: 0;
  }
  20%
  {
    background-position: 100px;
  }
    40%
  {
    background-position: 200px;
  }
  60%
  {
    background-position: 300px;
  }
  80%
  {
    background-position: 400px;
  }
  100%
  {
    background-position: 500px;
  }
  120%
  {
    background-position: 600px;
  }
  140%
  {
    background-position: 700px;
  }
  160%
  {
    background-position: 800px;
  }
  200%
  {
    background-position: 1000px;
  }
  300%
  {
    background-position:1800px ;
  }
  500%
    {
        background-position: 2000px;
    }
}
.logo
{
  width: 15%;
  height: 21vh;
  position: absolute;
  top: 8px;
  left: 8px;
  padding: 15px 20px;
  
}